
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-default" id="container">
    <div class="panel-heading">
        <div class="btn-toolbar" role="toolbar">
            <div class="form-inline searchBox">
                <div class="form-group">
                    <label for="Name">姓名</label>
                    <input type="text" id="Name" class="form-control" />
                    <label for="Account">账号</label>
                    <input type="text" id="Account" class="form-control" />
                </div>
            </div>
            <div class="btn-group">
                <button id="querybtn" class="btn btn-info"><i class="menu-icon  fa fa-search"></i>&nbsp<span>查询</span></button>
                <button id="addBtn" class="btn btn-success"><i class="menu-icon  fa fa-user-plus"></i>&nbsp<span>新增</span></button>
                <button id="modifyBtn" class="btn btn-primary"><i class="menu-icon  fa fa-user-md"></i>&nbsp<span>修改</span></button>
                <button id="deleteBtn" class="btn btn-danger"><i class="menu-icon  fa fa-user-times"></i>&nbsp<span>删除</span></button>
                <button id="addRole" class="btn btn-success"><i class="menu-icon  fa fa-book"></i>&nbsp<span>授权</span></button>
                <button id="changePwd" class="btn btn-change"><i class="menu-icon  fa fa-lock"></i>&nbsp<span>修改密码</span></button>
            </div>
        </div>
    </div>
    <div class="panel-body" style="padding: 0;">
        <div id="listdata" style="overflow-y: auto;">
            <table id="grid" class="table table-condensed table-hover table-striped">
                <thead>
                    <tr>
                        <th data-column-id="SN" data-type="numeric" data-identifier="true">序号</th>
                        <th data-column-id="UserName">姓名</th>
                        <th data-column-id="UserAccount">账号</th>
                        <th data-column-id="UserType">用户类型</th>
                        <th data-column-id="CreateTime">创建时间</th>
                        <th data-column-id="Remark">备注</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

