<!DOCTYPE html>
<html>
<head>
    <title>BookShop</title>
    <meta http-equiv="Content-Type" content="text/html; charset=gb2312">

    <link href="~/Content/Css/index.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <center>
        <div class="top">
            <div class="m_c" style="width: 736px; height: 27px;float:left;margin-left:30%">
                <span class="l">
                    <a href="#">我的订单</a>
                </span>
            </div>
            @* 使用Session进行登录状态保持的代码 *@
            @*<div style="float:right">
                    @if (Session["userinfo"] == null)
                {
                        <span class="1"><a href="/Login/Index">请登录</a></span>
                    }
                    else
                    {
                        var user = (Users)Session["userinfo"];
                        <span class="1">
                            欢迎 <a href="/UserManager/Index">@user.LoginId </a>登录 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a class="1" href="/Login/LoginOut/?LoginOutUrl=@Request.Url.ToString()">退出登录</a>
                        </span>
                    }
                </div>*@
        </div>


        <div style="width: 750px; text-align: left;">
            <img src="~/Content/Plugin/Images/集团网站1.jpg" />
            &nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <div id="main_box">
            @RenderBody()
        </div>

        <div id="footer">
            <ul class="categories1">
                <li>
                    <span lang="zh-cn">
                        <a title="京ICP备08001692号" href="http://www.miibeian.gov.cn">京ICP备08987373号</a>
                    </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </li>
            </ul>
        </div>
    </center>
    @RenderSection("scripts", required: false)
</body>
</html>

